body {
  margin: 0px;
  font-family:Arial, Helvetica, sans-serif;
}

#root h2 {
  padding-top: 2rem;
  margin: 0;
  font-weight: 200;
  text-align: center;
  font-size: calc(200% + 1vw + 1vh);
}

header {
  background-color: #333333;
  padding: 2rem 0;
}

header hr {
  height: .12rem;
  border: 0;
  margin-top: 2rem;
  background-image: linear-gradient(90deg,transparent,#f4b9b7,transparent);
}

#contact {
  color: white;
  background: rgb(244,185,183);
  background: linear-gradient(0deg, rgba(244,185,183,1) 0%, rgba(213,158,207,1) 100%);
}

#calendar {
  background-color: #F2F2F2;
  text-align: center;
}

#calendar h2 {
  color: #92A6A9;
}

#calendar p:first-of-type{
  margin-top: 1rem;
}

#calendar hr {
  height: .12rem;
  margin-top: .5rem;
  border: 0;
  background-image: linear-gradient(to right,transparent,#92A6A9,transparent);
}

#calendar .collage {
  margin: 2.5rem 0;
  height: calc(20rem + 1vw + 1vh);
}

#calendar .cal1 {
  float: left;
  width: 50%;
  position:absolute;
  top: 15%;
  left: 10%;
  z-index: 4;
  transform: rotate(-10deg);
}

#calendar .cal2 {
  float: right;
  width: 50%;
  position:absolute;
  right: 12%;
  bottom: 0%;
  z-index: 2;
  transform: rotate(8deg);
}

#calendar .cal3 {
  float: right;
  width: 47%;
  position:absolute;
  right: 20%;
  top: -2%;
  z-index: 2;
  transform: rotate(-7deg);
}

#contact hr {
  height: .12rem;
  margin-top: .5rem;
  border: 0;
  background-image: linear-gradient(to right,transparent,white,transparent);
}

#contact .link {
  text-align: center;
  padding-bottom: 1rem;
}

#contact .link .contactIcon {
  width: 80px;
}

footer {
  background-color: #333333;
}

#copyright{
  text-align: center;
  padding: 2em 0;
  font-size: 10px;
  color: white;
}

#copyright a{
  color: darkgray;
  text-decoration: none;
}

#copyright a:hover {
  text-decoration: underline;
} 