body {
  margin: 0px;
  background-color: #282c34;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

header{
  background-color: #333333;
  height: 350px;
  text-align: center;
}

header .logo{
  padding-top: 70px;
  width: 50%;
}

header hr{
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  height: .1rem;
  border: 0;
  background-image: linear-gradient(to right,transparent,#F4B9B7,transparent);
}

#contact {
  height: 450px;
  background: rgb(244,185,183);
  background: linear-gradient(0deg, rgba(244,185,183,1) 0%, rgba(213,158,207,1) 100%);
}

#contact h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: center;
  padding-top: 30px;
  font-size: 40pt;
}

#contact hr {
  max-width: 100%;
  margin-bottom: 40px;
  height: .1rem;
  border: 0;
  background-image: linear-gradient(to right,transparent,white,transparent);
}

#contact .contactCard .row {
  text-align: center;
  margin-bottom: 15px;
}

#contact .contactCard img{
  max-width: 80px;
}

#copyright{
  text-align: center;
  height: 30px;
  font-size: 10px;
  padding-top: 20px;
}

#copyright a{
  color: darkgray;
  text-decoration: none;
}

#copyright a:hover {
  text-decoration: underline;
} 